<div class="modal-content">

	<div class="modal-header">
	</div>

	<div class="modal-body">

		<form class="form-horizontal">

			<div class="form-group">

				<label class="control-label">時間帯</label>
				<div>
					<input type="text" class="form-control input-sm" />
				</div>

			</div>

		</form>

    <div class="row">
      <table class="table table-hover table-bordered table-striped">
        <thead>

          <tr>
            <th>
              種別
            </th>
            <th>
              卓
            </th>
            <th>
              喫煙
            </th>
            <th>
              人数
            </th>
            <th>
              割当人数
            </th>
            <th>
              変更不可
            </th>
            <th>
              取消
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="selectItem in selectItems">
            <td>
              種別{{selectItem.shubetsu}}
            </td>
            <td>
              卓{{selectItem.takumei}}
            </td>
            <td>
              喫煙{{selectItem.kitsuen}}
            </td>
            <td>
              人数{{selectItem.takuNinzu}}
            </td>
            <td>
              割当人数
            </td>
            <td>
              変更不可
            </td>
            <td>
              取消
            </td>
          </tr>
        </tbody>

      </table>
    </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="ok()">確定</button>
		<button type="button" class="btn btn-default" ng-click="cancel()">キャンセル</button>
	</div>

</div>
