<div class="modal-content">

	<div class="modal-header">
	</div>

	<div class="modal-body">

		<form class="form-horizontal">

      <div class="col-sm-6">

        <div class="form-group">

          <label class="col-sm-4 control-label">時間帯</label>

          <div class="col-sm-8 form-inline">

            <div class="input-group input-group-sm">
              <input type="text" class="form-control input-sm" ng-model="dialogModel.startTime" style="max-width: 55px;">
            </div>

            <label>〜</label>

            <div class="input-group input-group-sm">
              <input type="text" class="form-control input-sm" ng-model="dialogModel.endTime" style="max-width: 55px;">
            </div>

          </div>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="form-group form-inline">

          <label class="col-sm-4 control-label">人数</label>

          <div class="col-sm-8 form-inline">

            <div class="input-group input-group-sm">
              <input type="text" class="form-control input-sm" ng-model="dialogModel.startTime" style="max-width: 55px;">
            </div>

          </div>

        </div>

      </div>

		</form>

    <div class="row">
      <table class="table table-hover table-bordered table-striped">
        <thead>

          <tr>
            <th>
              種別
            </th>
            <th>
              卓
            </th>
            <th>
              喫煙
            </th>
            <th>
              人数
            </th>
            <th>
              割当人数
            </th>
            <th>
              変更不可
            </th>
            <th>
              取消
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="newReservationItem in dialogModel.newReservationItems">
            <td>
              種別{{newReservationItem.shubetsu}}
            </td>
            <td>
              卓{{newReservationItem.takumei}}
            </td>
            <td>
              喫煙{{newReservationItem.kitsuen}}
            </td>
            <td>
              人数{{newReservationItem.takuNinzu}}
            </td>
            <td>
              割当人数
            </td>
            <td>
              変更不可
            </td>
            <td>
              取消
            </td>
          </tr>
        </tbody>

      </table>
    </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="ok()">確定</button>
		<button type="button" class="btn btn-default" ng-click="cancel()">キャンセル</button>
	</div>

</div>
