<div class="chart-panel panel panel-default" ui-event="{scroll: 'onscroll($event)'}">

	<svg svg-width="{{tableCaptionWidth + chartWidth}}" svg-height="{{chartHeight}}">

    <chart-background
      chart-width="chartWidth"
      chart-height="chartHeight"
      table-caption-width="tableCaptionWidth"
      table-items="tableItems"
      header-items="headerItems"
      hour-split-count="hourSplitCount">
    </chart-background>

		<g ng-mouseenter="enter($event)"
		   ng-mouseleave="leave($event)">

			<!-- 卓情報 START -->
			<g>
				<!-- 卓情報予約操作領域 START -->
				<rect ng-repeat="tableItem in tableItems"
              ng-mousedown="startSelect($event, tableItem)"
              ng-mousemove="over($event, tableItem)"
					  svg-x="{{tableCaptionWidth}}" svg-y="{{tableItem.y}}"
					  width="100%" svg-height="{{reservationHeight}}"
					  opacity="0.0">
				</rect>
				<!-- 卓情報予約操作領域 END -->
			</g>
			<!-- 卓情報 END -->

			<!-- 予約情報 START
			<g>
				<rect ng-repeat="reservationItem in reservationItems"
				    ng-mouseup="endSelect($event)"
				    ng-mousedown="reservationMouseDown($event, reservationItem)"
            svg-x="{{tableCaptionWidth + reservationItem.x}}" svg-y="{{reservationItem.y}}"
					  svg-height="{{reservationItem.height}}" svg-width="{{reservationItem.width}}"
					  fill="{{reservationItem.fill}}"
					  opacity="{{reservationItem.opacity}}"
					  rx="5" ry="5"
					  stroke-width="1" stroke="#000000" />
			</g> -->
			<!-- 予約情報 END -->

      <!-- 新規追加中予約情報 START -->
      <rect svg-x="{{tableCaptionWidth + newReservationItem.x}}" svg-y="{{newReservationItem.y}}"
            svg-height="{{newReservationItem.height}}" svg-width="{{newReservationItem.width}}"
            ng-mousedown="reservationMouseDown($event, newReservationItem)"
            ng-mouseup="endSelect($event)"
            fill="{{newReservationItem.fill}}"
            opacity="{{newReservationItem.opacity}}"
            rx="5" ry="5"
            stroke-width="1" stroke="#000000" />
      <!-- 新規追加中予約情報 END -->

		</g>

		<!-- 卓情報 START -->
		<g ng-repeat="tableItem in tableItems">

			<!-- 卓情報キャプション領域 START -->
			<rect svg-x="{{headerX}}" svg-y="{{tableItem.y}}"
				  width="60" svg-height="{{reservationHeight}}"
				  fill="#FFFFFF" style="stroke-width:1; stroke:rgb(0, 0, 0)">
			</rect>
			<text svg-x="{{headerX}}" svg-y="{{tableItem.labelY}}"
				  font-family="Verdana" text-anchor="start"
				  font-size="11">
				  {{tableItem.takuNinzu}}
			</text>

			<rect svg-x="{{headerX + 60}}" svg-y="{{tableItem.y}}"
				  width="60" svg-height="{{reservationHeight}}"
				  fill="#FFFFFF" style="stroke-width:1; stroke:rgb(0, 0, 0)">
			</rect>
			<text svg-x="{{headerX + 60}}" svg-y="{{tableItem.labelY}}"
				  font-family="Verdana" text-anchor="start"
				  font-size="11">
				  {{tableItem.shubetsu}}
			</text>

			<rect svg-x="{{headerX + 120}}" svg-y="{{tableItem.y}}"
				  width="60" svg-height="{{reservationHeight}}"
				  fill="#FFFFFF" style="stroke-width:1; stroke:rgb(0, 0, 0)">
			</rect>
			<text svg-x="{{headerX + 120}}" svg-y="{{tableItem.labelY}}"
				  font-family="Verdana" text-anchor="start"
				  font-size="11">
				  {{tableItem.takumei}}
			</text>

			<rect svg-x="{{headerX + 180}}" svg-y="{{tableItem.y}}"
				  width="60" svg-height="{{reservationHeight}}"
				  fill="#FFFFFF" style="stroke-width:1; stroke:rgb(0, 0, 0)">
			</rect>
			<text svg-x="{{headerX + 180}}" svg-y="{{tableItem.labelY}}"
				  font-family="Verdana" text-anchor="start"
				  font-size="11">
				  {{tableItem.kitsuen}}
			</text>
			<!-- 卓情報キャプション領域 END -->

		</g>
		<!-- 卓情報 END -->

		<!-- 時間ヘッダ START -->
		<g ng-repeat="headerItem in headerItems">

			<rect svg-x="{{tableCaptionWidth + headerItem.x}}" svg-y="{{headerY}}"
				  svg-width="{{headerItem.width}}"
				  svg-height="{{headerHeight}}"
				  fill="#FFFFFF"
				  style="stroke-width:1; stroke:rgb(0, 0, 0)">
			</rect>

			<text svg-x="{{tableCaptionWidth + headerItem.labelX}}" svg-y="{{headerY + headerLabelY}}"
				  font-family="Verdana"
				  font-size="11">
				  {{headerItem.label}}
			</text>

		</g>
		<!-- 時間ヘッダ END -->

		<!-- 固定情報ヘッダ START -->
		<g ng-repeat="tableCaptionItem in tableCaptionItems">

			<rect svg-x="{{headerX + tableCaptionItem.x}}" svg-y="{{headerY}}"
				  svg-width="{{tableCaptionItem.width}}"
				  svg-height="{{headerHeight}}"
				  fill="#FFFFFF"
				  style="stroke-width:1; stroke:rgb(0, 0, 0)">
			</rect>

			<text svg-x="{{headerX + tableCaptionItem.x}}" svg-y="{{headerY + headerLabelY}}"
				  font-family="Verdana"
				  font-size="11">
				  {{tableCaptionItem.label}}
			</text>

		</g>
		<!-- 固定情報ヘッダ END -->

	</svg>

</div>
l
